In [1]:
import pandas as pd
import numpy as np
from path import Path

In [2]:
file_path1 = "Data/DataPanelWHR2021C2.csv"
Data_Panel = pd.read_csv(file_path1,encoding="ISO-8859-1",index_col=0)
Data_Panel

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
ï»¿Country name,,,,,,,,,,
Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [3]:
file_path2 = "Data/EIU_Democracy_Index_2020.csv"
EIU_Democracy_Index_2020 = pd.read_csv(file_path2,encoding="ISO-8859-1",index_col=0)
EIU_Democracy_Index_2020

,UN_Country_Name,time,Democracy index (EIU),Electoral pluralism index (EIU),Government index (EIU),Political participation index(EIU),Political culture index (EIU),Civil liberties index (EIU),Change in democracy index (EIU)
UN_Country_Code,,,,,,,,,
4,Afghanistan,2020,28.5,34.2,6.4,38.9,25.0,38.2,0.0
8,Albania,2020,60.8,70.0,53.6,44.4,62.5,73.5,1.9
12,Algeria,2020,37.7,30.8,25.0,44.4,50.0,38.2,NaN
24,Angola,2020,36.6,22.5,28.6,55.6,50.0,26.5,-0.6
32,Argentina,2020,69.5,91.7,53.6,66.7,56.3,79.4,-0.7
...,...,...,...,...,...,...,...,...,...
862,Venezuela (Boliv. Rep. of),2020,27.6,0.0,17.9,50.0,43.8,26.5,NaN
704,Viet Nam,2020,29.4,0.0,28.6,38.9,56.3,23.5,NaN
887,Yemen,2020,19.5,0.0,0.0,38.9,50.0,8.8,NaN
894,Zambia,2020,48.6,47.5,29.3,38.9,68.8,58.8,NaN
716,Zimbabwe,2020,31.6,0.0,25.0,44.4,56.3,32.4,NaN

In [4]:
file_path3 = "Data/UN_Country_Table.csv"
UN_Country_Table = pd.read_csv(file_path3,encoding="ISO-8859-1",index_col=0)
UN_Country_Table

                           Country_Name
Country_Code
4                           Afghanistan
8                               Albania
12                              Algeria
16                       American Samoa
20                              Andorra
...                                 ...
876           Wallis and Futuna Islands
732                      Western Sahara
887                               Yemen
894                              Zambia
716                            Zimbabwe

[227 rows x 1 columns]

In [5]:
file_path4 = "Data/UN_Life_Expectancy_2020.csv"
UN_Life_Expectancy_2020 = pd.read_csv(file_path4,encoding="ISO-8859-1",index_col=0)
UN_Life_Expectancy_2020

,Country_Name,Year,Series,Value,Footnotes,Source
Country_Code,,,,,,
4,Afghanistan,2020,Life expectancy at birth for both sexes (years),64.3,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
8,Albania,2020,Life expectancy at birth for both sexes (years),78.4,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
12,Algeria,2020,Life expectancy at birth for both sexes (years),76.6,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
24,Angola,2020,Life expectancy at birth for both sexes (years),60.5,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
28,Antigua and Barbuda,2020,Life expectancy at birth for both sexes (years),76.8,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...
704,Viet Nam,2020,Life expectancy at birth for both sexes (years),75.3,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
732,Western Sahara,2020,Life expectancy at birth for both sexes (years),69.9,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
887,Yemen,2020,Life expectancy at birth for both sexes (years),66.0,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
894,Zambia,2020,Life expectancy at birth for both sexes (years),63.3,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
716,Zimbabwe,2020,Life expectancy at birth for both sexes (years),60.8,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."

In [6]:
file_path5 = "Data/UN_Per_Capita_GDP_2019.csv"
UN_Per_Capita_GDP_2019 = pd.read_csv(file_path5,encoding="ISO-8859-1",index_col=0)
UN_Per_Capita_GDP_2019

,Country_Name,Year,Series,Value,Footnotes,Source
Country_Code,,,,,,
4,Afghanistan,2019,GDP per capita (US dollars),470,NaN,"United Nations Statistics Division, New York, ..."
8,Albania,2019,GDP per capita (US dollars),"5,303",NaN,"United Nations Statistics Division, New York, ..."
12,Algeria,2019,GDP per capita (US dollars),"3,976",NaN,"United Nations Statistics Division, New York, ..."
20,Andorra,2019,GDP per capita (US dollars),"40,887",NaN,"United Nations Statistics Division, New York, ..."
24,Angola,2019,GDP per capita (US dollars),"2,671",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...
704,Viet Nam,2019,GDP per capita (US dollars),"2,715",NaN,"United Nations Statistics Division, New York, ..."
887,Yemen,2019,GDP per capita (US dollars),855,NaN,"United Nations Statistics Division, New York, ..."
894,Zambia,2019,GDP per capita (US dollars),"1,292",NaN,"United Nations Statistics Division, New York, ..."
836,Zanzibar,2019,GDP per capita (US dollars),"1,111",NaN,"United Nations Statistics Division, New York, ..."
716,Zimbabwe,2019,GDP per capita (US dollars),"1,464",NaN,"United Nations Statistics Division, New York, ..."

In [7]:
file_path6 = "Data/UN_Population_Density_2019.csv"
UN_Population_Density_2019 = pd.read_csv(file_path6,encoding="ISO-8859-1",index_col=0)
UN_Population_Density_2019

,Country_Name,Year,Series,Value,Footnotes,Source
Country_Code,,,,,,
4,Afghanistan,2019,Population density,58.3,NaN,"United Nations Population Division, New York, ..."
8,Albania,2019,Population density,105.1,NaN,"United Nations Population Division, New York, ..."
12,Algeria,2019,Population density,18.1,NaN,"United Nations Population Division, New York, ..."
16,American Samoa,2019,Population density,276.6,NaN,"United Nations Population Division, New York, ..."
20,Andorra,2019,Population density,164.1,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...
876,Wallis and Futuna Islands,2019,Population density,81.7,NaN,"United Nations Population Division, New York, ..."
732,Western Sahara,2019,Population density,2.2,NaN,"United Nations Population Division, New York, ..."
887,Yemen,2019,Population density,55.2,NaN,"United Nations Population Division, New York, ..."
894,Zambia,2019,Population density,24,NaN,"United Nations Population Division, New York, ..."
716,Zimbabwe,2019,Population density,37.9,NaN,"United Nations Population Division, New York, ..."

In [8]:
file_path7 = "Data/UN_Unemployment_Rate_2020.csv"
UN_Unemployment_Rate_2020 = pd.read_csv(file_path7,encoding="ISO-8859-1",index_col=0)
UN_Unemployment_Rate_2020

,Country_Name,Year,Series,Value,Footnotes,Source
Country_Code,,,,,,
4,Afghanistan,2020,Unemployment rate - Total,11.2,Estimate.,"International Labour Organization (ILO), Genev..."
8,Albania,2020,Unemployment rate - Total,12.8,Estimate.,"International Labour Organization (ILO), Genev..."
12,Algeria,2020,Unemployment rate - Total,11.5,Estimate.,"International Labour Organization (ILO), Genev..."
24,Angola,2020,Unemployment rate - Total,6.8,Estimate.,"International Labour Organization (ILO), Genev..."
32,Argentina,2020,Unemployment rate - Total,10.4,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...
704,Viet Nam,2020,Unemployment rate - Total,2.0,Estimate.,"International Labour Organization (ILO), Genev..."
732,Western Sahara,2020,Unemployment rate - Total,9.4,Estimate.,"International Labour Organization (ILO), Genev..."
887,Yemen,2020,Unemployment rate - Total,12.8,Estimate.,"International Labour Organization (ILO), Genev..."
894,Zambia,2020,Unemployment rate - Total,11.4,Estimate.,"International Labour Organization (ILO), Genev..."
716,Zimbabwe,2020,Unemployment rate - Total,5.0,Estimate.,"International Labour Organization (ILO), Genev..."

In [9]:
# step 1: check all the columns in correct data types for each df
Data_Panel.dtypes

year                                  int64
Life Ladder                         float64
Log GDP per capita                  float64
Social support                      float64
Healthy life expectancy at birth    float64
Freedom to make life choices        float64
Generosity                          float64
Perceptions of corruption           float64
Positive affect                     float64
Negative affect                     float64
dtype: object

In [10]:
EIU_Democracy_Index_2020.dtypes

UN_Country_Name                        object
time                                    int64
Democracy index (EIU)                 float64
Electoral pluralism index (EIU)       float64
Government index (EIU)                float64
Political participation index(EIU)    float64
Political culture index (EIU)         float64
Civil liberties index (EIU)           float64
Change in democracy index (EIU)       float64
dtype: object

In [11]:
UN_Country_Table.dtypes

Country_Name    object
dtype: object

In [12]:
UN_Life_Expectancy_2020.dtypes

Country_Name     object
Year              int64
Series           object
Value           float64
Footnotes        object
Source           object
dtype: object

In [13]:
UN_Per_Capita_GDP_2019.dtypes

Country_Name    object
Year             int64
Series          object
Value           object
Footnotes       object
Source          object
dtype: object

In [14]:
UN_Population_Density_2019.dtypes

Country_Name    object
Year             int64
Series          object
Value           object
Footnotes       object
Source          object
dtype: object

In [15]:
UN_Unemployment_Rate_2020.dtypes

Country_Name     object
Year              int64
Series           object
Value           float64
Footnotes        object
Source           object
dtype: object

In [16]:
# dropping the columns from the Df
UN_Life_Expectancy_2020.drop(columns=['Series','Footnotes','Source'], inplace=True)

In [17]:
# renaming column of the Df
UN_Life_Expectancy_2020_rename = UN_Life_Expectancy_2020.rename(columns={"Value": "Both sexes' Life expectancy-Value", "Country_Name":"country_Name","Year":"year" })
UN_Life_Expectancy_2020_rename

                     country_Name  year  Both sexes' Life expectancy-Value
Country_Code
4                     Afghanistan  2020                               64.3
8                         Albania  2020                               78.4
12                        Algeria  2020                               76.6
24                         Angola  2020                               60.5
28            Antigua and Barbuda  2020                               76.8
...                           ...   ...                                ...
704                      Viet Nam  2020                               75.3
732                Western Sahara  2020                               69.9
887                         Yemen  2020                               66.0
894                        Zambia  2020                               63.3
716                      Zimbabwe  2020                               60.8

[201 rows x 3 columns]

In [18]:
UN_Per_Capita_GDP_2019.drop(columns=['Series','Footnotes','Source'], axis=1, inplace=True)

In [19]:
UN_Per_Capita_GDP_2019_rename = UN_Per_Capita_GDP_2019.rename(columns={"Value": "Per Capita GDP-Value","Country_Name":"country_Name","Year":"year" })
UN_Per_Capita_GDP_2019_rename

             country_Name  year Per Capita GDP-Value
Country_Code
4             Afghanistan  2019                  470
8                 Albania  2019                5,303
12                Algeria  2019                3,976
20                Andorra  2019               40,887
24                 Angola  2019                2,671
...                   ...   ...                  ...
704              Viet Nam  2019                2,715
887                 Yemen  2019                  855
894                Zambia  2019                1,292
836              Zanzibar  2019                1,111
716              Zimbabwe  2019                1,464

[212 rows x 3 columns]

In [20]:
UN_Population_Density_2019.drop(columns=['Series','Footnotes','Source'], axis=1, inplace=True)

In [21]:
UN_Population_Density_2019_rename = UN_Population_Density_2019.rename(columns={"Value": "Population Density-Value","Country_Name":"country_Name","Year":"year" })
UN_Population_Density_2019_rename

                           country_Name  year Population Density-Value
Country_Code
4                           Afghanistan  2019                     58.3
8                               Albania  2019                    105.1
12                              Algeria  2019                     18.1
16                       American Samoa  2019                    276.6
20                              Andorra  2019                    164.1
...                                 ...   ...                      ...
876           Wallis and Futuna Islands  2019                     81.7
732                      Western Sahara  2019                      2.2
887                               Yemen  2019                     55.2
894                              Zambia  2019                       24
716                            Zimbabwe  2019                     37.9

[227 rows x 3 columns]

In [22]:
UN_Unemployment_Rate_2020.drop(columns=['Series','Footnotes','Source'], axis=1, inplace=True)

In [23]:
UN_Unemployment_Rate_2020_rename = UN_Unemployment_Rate_2020.rename(columns={"Value": "Unemployment Rate-Value"})
UN_Unemployment_Rate_2020_rename

                Country_Name  Year  Unemployment Rate-Value
Country_Code
4                Afghanistan  2020                     11.2
8                    Albania  2020                     12.8
12                   Algeria  2020                     11.5
24                    Angola  2020                      6.8
32                 Argentina  2020                     10.4
...                      ...   ...                      ...
704                 Viet Nam  2020                      2.0
732           Western Sahara  2020                      9.4
887                    Yemen  2020                     12.8
894                   Zambia  2020                     11.4
716                 Zimbabwe  2020                      5.0

[188 rows x 3 columns]

In [24]:
frames = [UN_Life_Expectancy_2020_rename, UN_Per_Capita_GDP_2019_rename, UN_Population_Density_2019_rename, UN_Unemployment_Rate_2020_rename]
clusteredtables4to7_df = pd.concat(frames, axis=1).reindex(UN_Country_Table.index)
clusteredtables4to7_df

,country_Name,year,Both sexes' Life expectancy-Value,country_Name,year,Per Capita GDP-Value,country_Name,year,Population Density-Value,Country_Name,Year,Unemployment Rate-Value
Country_Code,,,,,,,,,,,,
4,Afghanistan,2020.0,64.3,Afghanistan,2019.0,470,Afghanistan,2019.0,58.3,Afghanistan,2020.0,11.2
8,Albania,2020.0,78.4,Albania,2019.0,"5,303",Albania,2019.0,105.1,Albania,2020.0,12.8
12,Algeria,2020.0,76.6,Algeria,2019.0,"3,976",Algeria,2019.0,18.1,Algeria,2020.0,11.5
16,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,2019.0,276.6,NaN,NaN,NaN
20,NaN,NaN,NaN,Andorra,2019.0,"40,887",Andorra,2019.0,164.1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
876,NaN,NaN,NaN,NaN,NaN,NaN,Wallis and Futuna Islands,2019.0,81.7,NaN,NaN,NaN
732,Western Sahara,2020.0,69.9,NaN,NaN,NaN,Western Sahara,2019.0,2.2,Western Sahara,2020.0,9.4
887,Yemen,2020.0,66.0,Yemen,2019.0,855,Yemen,2019.0,55.2,Yemen,2020.0,12.8
894,Zambia,2020.0,63.3,Zambia,2019.0,"1,292",Zambia,2019.0,24,Zambia,2020.0,11.4
716,Zimbabwe,2020.0,60.8,Zimbabwe,2019.0,"1,464",Zimbabwe,2019.0,37.9,Zimbabwe,2020.0,5.0

In [25]:
# What data is missing?
# find null values
for column in clusteredtables4to7_df.columns:
    print(f"Column{column} has {clusteredtables4to7_df[column].isnull().sum()} null values")

Columncountry_Name has country_Name    31
country_Name    19
country_Name     0
dtype: int64 null values
Columnyear has year    31
year    19
year     0
dtype: int64 null values
ColumnBoth sexes' Life expectancy-Value has 31 null values
Columncountry_Name has country_Name    31
country_Name    19
country_Name     0
dtype: int64 null values
Columnyear has year    31
year    19
year     0
dtype: int64 null values
ColumnPer Capita GDP-Value has 19 null values
Columncountry_Name has country_Name    31
country_Name    19
country_Name     0
dtype: int64 null values
Columnyear has year    31
year    19
year     0
dtype: int64 null values
ColumnPopulation Density-Value has 0 null values
ColumnCountry_Name has 42 null values
ColumnYear has 42 null values
ColumnUnemployment Rate-Value has 42 null values

In [26]:
# Drop null rows
clusteredtables4to7_df = clusteredtables4to7_df.dropna()
clusteredtables4to7_df.head(11)

,country_Name,year,Both sexes' Life expectancy-Value,country_Name,year,Per Capita GDP-Value,country_Name,year,Population Density-Value,Country_Name,Year,Unemployment Rate-Value
Country_Code,,,,,,,,,,,,
4,Afghanistan,2020.0,64.3,Afghanistan,2019.0,470,Afghanistan,2019.0,58.3,Afghanistan,2020.0,11.2
8,Albania,2020.0,78.4,Albania,2019.0,"5,303",Albania,2019.0,105.1,Albania,2020.0,12.8
12,Algeria,2020.0,76.6,Algeria,2019.0,"3,976",Algeria,2019.0,18.1,Algeria,2020.0,11.5
24,Angola,2020.0,60.5,Angola,2019.0,"2,671",Angola,2019.0,25.5,Angola,2020.0,6.8
32,Argentina,2020.0,76.4,Argentina,2019.0,"10,041",Argentina,2019.0,16.4,Argentina,2020.0,10.4
51,Armenia,2020.0,74.9,Armenia,2019.0,"4,623",Armenia,2019.0,103.9,Armenia,2020.0,16.6
36,Australia,2020.0,83.2,Australia,2019.0,"54,763",Australia,2019.0,3.3,Australia,2020.0,5.3
40,Austria,2020.0,81.4,Austria,2019.0,"49,701",Austria,2019.0,108.7,Austria,2020.0,4.8
31,Azerbaijan,2020.0,72.8,Azerbaijan,2019.0,"4,782",Azerbaijan,2019.0,121.6,Azerbaijan,2020.0,6.0
44,Bahamas,2020.0,73.7,Bahamas,2019.0,"34,864",Bahamas,2019.0,38.9,Bahamas,2020.0,11.3
48,Bahrain,2020.0,77.1,Bahrain,2019.0,"23,504",Bahrain,2019.0,"2,159.40",Bahrain,2020.0,0.8

In [27]:
clusteredtables4to7_df.drop(columns=['country_Name','year'], axis=1, inplace=True)
clusteredtables4to7_df

C:\Users\zohairk\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Both sexes' Life expectancy-Value,Per Capita GDP-Value,Population Density-Value,Country_Name,Year,Unemployment Rate-Value
Country_Code,,,,,,
4,64.3,470,58.3,Afghanistan,2020.0,11.2
8,78.4,"5,303",105.1,Albania,2020.0,12.8
12,76.6,"3,976",18.1,Algeria,2020.0,11.5
24,60.5,"2,671",25.5,Angola,2020.0,6.8
32,76.4,"10,041",16.4,Argentina,2020.0,10.4
...,...,...,...,...,...,...
862,72.1,"4,733",32.3,Venezuela (Boliv. Rep. of),2020.0,9.4
704,75.3,"2,715",311.1,Viet Nam,2020.0,2.0
887,66.0,855,55.2,Yemen,2020.0,12.8
894,63.3,"1,292",24,Zambia,2020.0,11.4
716,60.8,"1,464",37.9,Zimbabwe,2020.0,5.0

In [28]:
column_names = ["Country_Name", "Year","Both sexes' Life expectancy-Value", "Per Capita GDP-Value", "Population Density-Value", "Unemployment Rate-Value" ]

clusteredtables4to7_df = clusteredtables4to7_df.reindex(columns=column_names)
clusteredtables4to7_df

,Country_Name,Year,Both sexes' Life expectancy-Value,Per Capita GDP-Value,Population Density-Value,Unemployment Rate-Value
Country_Code,,,,,,
4,Afghanistan,2020.0,64.3,470,58.3,11.2
8,Albania,2020.0,78.4,"5,303",105.1,12.8
12,Algeria,2020.0,76.6,"3,976",18.1,11.5
24,Angola,2020.0,60.5,"2,671",25.5,6.8
32,Argentina,2020.0,76.4,"10,041",16.4,10.4
...,...,...,...,...,...,...
862,Venezuela (Boliv. Rep. of),2020.0,72.1,"4,733",32.3,9.4
704,Viet Nam,2020.0,75.3,"2,715",311.1,2.0
887,Yemen,2020.0,66.0,855,55.2,12.8
894,Zambia,2020.0,63.3,"1,292",24,11.4
716,Zimbabwe,2020.0,60.8,"1,464",37.9,5.0

In [30]:

# exported the cleaned clustered table to the folder "cleanedCSVs"
clusteredtables4to7_df.to_csv (r'C:\Users\zohairk\OneDrive\Desktop\personalrepo\Modules\Module20--Project\Final-Project\Data\cleanedCSVs\cleaneddf4-7.csv', index = False, header=True)

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
clusteredtables4to7_df.nunique()

In [ ]:
clusteredtables4to7_df.Year.unique()

In [ ]:
# What data is missing after cleanse?
# find null values
for column in clusteredtables4to7_df.columns:
    print(f"Column{column} has {clusteredtables4to7_df[column].isnull().sum()} null values")

# merged the clustered_4to7_df with the table(EIU_Democracy_Index_2020).

In [ ]:
# What data is missing after cleanse?
# find null values
for column in EIU_Democracy_Index_2020.columns:
    print(f"Column{column} has {EIU_Democracy_Index_2020[column].isnull().sum()} null values")

In [ ]:
# dropping the columns from the Df
EIU_Democracy_Index_2020_new = EIU_Democracy_Index_2020.drop(columns=['Change in democracy index (EIU)'], inplace=True)
EIU_Democracy_Index_2020_new

In [ ]:
EIU_Democracy_Index_2020_new

In [ ]:
#frames2 =[clusteredtables4to7_df, EIU_Democracy_Index_2020_new]
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html?highlight=merge
tables2_7_df = clusteredtables4to7_df.merge(EIU_Democracy_Index_2020_new, left_on='Country_Code', right_on='Country_Name')
tables2_7_df